{{# Object }}
	<div class="comment-item">
		<p class="comment-content">
				<p>{{ text }}</p>
				<small><cite title="bla"><a href="#">{{ owner_name }}</a></cite></small>
		</p>		
	</div>
{{/ Object }}