<div id="columns" class="row-fluid">
	<div class="subnav subnav-fixed">
        <ul class="nav nav-pills">            
    		<li id="tasks" class="active"><a href="#"><i class="icon-tasks"></i>Tasks</a></li>
    		<li id="notes"><a href="#"><i class="icon-file"></i>Notes</a></li>
    		<li id="files"><a href="#"><i class="icon-hdd"></i>Files</a></li>
    		<li id="rss"><a href="#"><i class="icon-inbox"></i>Rss</a></li>                        
        </ul>
    </div>
    <div id="column2">
        <div class="well">
			<h2 class="title">{{ title }}</h2>
			<p class="description"><strong>Description:</strong> {{ description }}</p>

			<div id="task-input">
			    
			</div>
			<div id="errors">
			</div>	
			<div id="task-list">
		</div>
	</div>
</div>