<a class="project-detail" href="#">
	<span style="position: relative; float: left; width: 80%">{{ title }}</span>
	<span class="project-tool" id="project-{{ id }}">
		<i class="icon-trash"></i>
	</span>
</a>