<div class="well">
	<div id="note-input">
	</div>
	<div id="flash">
	</div>
	<div id="not-logged-evernote"> {{& evernote }}</div>

	<div clas="row-fluid" style="margin-bottom: 20px">
		<button class="btn btn-primary add-note" type="button"><i class="icon-plus"></i> Create Note</button>
		<i class="icon-refresh pull-right evernote-refresher" style="font-size:20px"></i>
	</div>
	<div class="row-fluid">
		<div class="span5">			
			<ul id="note-list" class="nav nav-tabs nav-stacked">
			</ul>
		</div>
		<div class="span7 editor-side" >		
		</div>
	</div>
</div>