<div class="well">
	<div id="task-input">
	</div>
	<div id="flash">
	</div>	
	<div id="task-list" >
		<div id="task-to-do" />
		<h4>Recently done</h4>
		<div id="task-list-recently-done" />
	</div>	
</div>