<div class="well">
	<div id="task-input">
	</div>
	<div id="flash">
	</div>	
	<div id="task-list" >
		<h5>To do</h5>
		<div id="task-to-do" />
		<h5>Recently done</h5>
		<div id="task-list-recently-done"/>
	</div>	
</div>