<div class="well">
	<div id="note-input">
	</div>
	<div id="flash">
	</div>
	<div id="not-logged-evernote"> {{& evernote }}</div>
	<div class="row-fluid">
		<div class="span12">
			<ul id="note-list" class="thumbnails">
			</ul>
		</div>
	</div>
</div>