
{% load straight_include %}
<script id="taskListTemplate" type="text/html">
    {% straight_include "task/taskListTemplate.mustache" %}
</script>
<script id="taskDetailTemplate" type="text/html">
    {% straight_include "task/taskDetailTemplate.mustache" %}
</script>
<script id="taskDetailOverviewTemplate" type="text/html">
    {% straight_include "task/taskDetailOverviewTemplate.mustache" %}
</script>
<script id="taskDetailContextTemplate" type="text/html">
    {% straight_include "task/taskDetailContextTemplate.mustache" %}
</script>
<script id="taskAddTemplate" type="text/html">
    {% straight_include "task/taskAddTemplate.mustache" %}
</script>
<script id="statusDetailTemplate" type="text/html">
    {% straight_include "status/statusDetailTemplate.mustache" %}
</script>
<script id="statusDetailLinkTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkTemplate.mustache" %}
</script>
<script id="statusDetailLinkPhotoTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkPhotoTemplate.mustache" %}
</script>
<script id="statusDetailLinkRichTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkRichTemplate.mustache" %}
</script>
<script id="statusDetailLinkRichOverviewTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkRichOverviewTemplate.mustache" %}
</script>
<script id="statusDetailLinkVideoTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkVideoTemplate.mustache" %}
</script>
<script id="statusDetailLinkOverviewTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkOverviewTemplate.mustache" %}
</script>
<script id="statusDetailLinkPhotoOverviewTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkPhotoOverviewTemplate.mustache" %}
</script>
<script id="statusDetailOverviewTemplate" type="text/html">
    {% straight_include "status/statusDetailOverviewTemplate.mustache" %}
</script>
<script id="statusDetailLinkVideoOverviewTemplate" type="text/html">
    {% straight_include "status/statusDetailLinkVideoOverviewTemplate.mustache" %}
</script>
<script id="statusAddTemplate" type="text/html">
    {% straight_include "status/statusAddTemplate.mustache" %}
</script>
<script id="statusContextTemplate" type="text/html">
    {% straight_include "status/statusContextTemplate.mustache" %}
</script>
<script id="commentDetailTemplate" type="text/html">
    {% straight_include "comment/commentDetailTemplate.mustache" %}
</script>
<script id="commentDetailLinkTemplate" type="text/html">
    {% straight_include "comment/commentDetailLinkTemplate.mustache" %}
</script>
<script id="commentDetailLinkRichTemplate" type="text/html">
    {% straight_include "comment/commentDetailLinkRichTemplate.mustache" %}
</script>
<script id="commentDetailLinkPhotoTemplate" type="text/html">
    {% straight_include "comment/commentDetailLinkPhotoTemplate.mustache" %}
</script>
<script id="commentAddTemplate" type="text/html">
    {% straight_include "comment/commentAddTemplate.mustache" %}
</script>
<script id="sidebarApp" type="text/html">
    {% straight_include "shared/sidebarApp.mustache" %}
</script>
<script id="menuView" type="text/html">
    {% straight_include "shared/menu.mustache" %}
</script>
<script id="paginated" type="text/html">
    {% straight_include "shared/paginated.mustache" %}
</script>
<script id="loadMore" type="text/html">
    {% straight_include "shared/loadMore.mustache" %}
</script>
<script id="projectTemplate" type="text/html">
    {% straight_include "project/projectTemplate.mustache" %}
</script>
<script id="projectPopover" type="text/html">
    {% straight_include "project/projectPopover.mustache" %}
</script>
<script id="taskPopover" type="text/html">
    {% straight_include "task/taskPopover.mustache" %}
</script>
<script id="flash" type="text/html">
    {% straight_include "shared/flash.mustache" %}
</script>
<script id="noteDetailTemplate" type="text/html">
    {% straight_include "note/noteDetailTemplate.mustache" %}
</script>
<script id="noteDetailOverviewTemplate" type="text/html">
    {% straight_include "note/noteDetailOverviewTemplate.mustache" %}
</script>
<script id="noteDetailContextTemplate" type="text/html">
    {% straight_include "note/noteDetailContextTemplate.mustache" %}
</script>
<script id="noteAddTemplate" type="text/html">
    {% straight_include "note/noteAddTemplate.mustache" %}
</script>
<script id="noteEditTemplate" type="text/html">
    {% straight_include "note/noteEditTemplate.mustache" %}
</script>
<script id="noteModalTemplate" type="text/html">
    {% straight_include "note/noteModalTemplate.mustache" %}
</script>
<script id="peopleAddTemplate" type="text/html">
    {% straight_include "people/peopleAddTemplate.mustache" %}
</script>
<script id="fileDetailTemplate" type="text/html">
    {% straight_include "file/fileDetailTemplate.mustache" %}
</script>
<script id="fileDetailThumbnailTemplate" type="text/html">
    {% straight_include "file/fileDetailThumbnailTemplate.mustache" %}
</script>
<script id="fileDetailOverviewTemplate" type="text/html">
    {% straight_include "file/fileDetailOverviewTemplate.mustache" %}
</script>
<script id="fileDetailFolderTemplate" type="text/html">
    {% straight_include "file/fileDetailFolderTemplate.mustache" %}
</script>
<script id="fileDetailTextTemplate" type="text/html">
    {% straight_include "file/fileDetailTextTemplate.mustache" %}
</script>
<script id="fileDetailPdfTemplate" type="text/html">
    {% straight_include "file/fileDetailPdfTemplate.mustache" %}
</script>
<script id="fileAddTemplate" type="text/html">
    {% straight_include "file/fileAddTemplate.mustache" %}
</script>
<script id="projectTaskAddTaskListTemplate" type="text/html">
    {% straight_include "composite/projectTaskAddTaskListTemplate.mustache" %}
</script>
<script id="projectNoteAddNoteListTemplate" type="text/html">
    {% straight_include "composite/projectNoteAddNoteListTemplate.mustache" %}
</script>
<script id="projectFileListTemplate" type="text/html">
    {% straight_include "composite/projectFileListTemplate.mustache" %}
</script>
<script id="projectFileListNoDropboxLoggingTemplate" type="text/html">
    {% straight_include "composite/projectFileListNoDropboxLoggingTemplate.mustache" %}
</script>
<script id="projectActivityTemplate" type="text/html">
    {% straight_include "composite/projectActivityTemplate.mustache" %}
</script>
<script id="projectPeopleTemplate" type="text/html">
    {% straight_include "composite/projectPeopleTemplate.mustache" %}
</script>
<script id="userSettingsTemplate" type="text/html">
    {% straight_include "composite/userSettingsTemplate.mustache" %}
</script>
<script id="projectOverviewTemplate" type="text/html">
    {% straight_include "composite/projectOverviewTemplate.mustache" %}
</script>
