{% load verbatim %}
{% load compressed %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Draw{% endblock %}</title>
        <meta name="description" content="Draw project">
        <meta name="author" content="Marcos Arranz Mateo">
        <!—[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]—>
        
        
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
        {% compressed_css 'styles_c' %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

        
         
        <style>
            body { padding-top: 60px; }
        </style>
        
    </head>
    <body>        
        <script type="text/javascript">    
            var APP_GLOBAL = {};
            APP_GLOBAL.PROJECT_API = "{% url api_dispatch_list api_name="v1" resource_name="project" %}";
            APP_GLOBAL.USER_PROFILE_API = "{% url api_dispatch_list api_name="v1" resource_name="userProfile" %}";
            APP_GLOBAL.CSFR_TOKEN =  "{% csrf_token %}";
        </script>
        {% block content %}{% endblock %}
    </body>

</html>