<h2>
    <a class="home" href="/">Project</a>
</h2>
<p>Title: {{ title }}</p>
<p>Description: {{ descrption }}</p>
<div class="task-list">
<p>Tasks</p>
    <ul class="nav nav-tabs nav-stacked" >
        {{# task_list }}
        <li>
            <a href="#"><label class="checkbox"><input type="checkbox">{{ title }}</label></a>
        </li>
        {{/ task_list }}
    </ul>
</div>