{% extends "base.html" %}
{% load verbatim %}
{% load compressed %}
{% block title %}Home{% endblock %}
{% block content %}

    {% include '_mustache_templates.html' %}
    <div id="loaderDiv" style="display: none">    
        <div class="">
            <div>
                <div id="ajaxloader" class="">
                    <i class="icon-spinner icon-spin icon-2x"></i>
                </div>
            </div>
        </div>
    </div>    

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Drawer</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}                
                        <script type="text/javascript">
                            APP_GLOBAL.USER_PROFILE_API = "{% url api_dispatch_detail pk=user_profile.pk api_name="v1" resource_name="userProfile" %}";
                            APP_GLOBAL.USER_PROFILE_ID = "{{ user_profile.pk }}";
                        </script>                  
                        <ul class="nav nav-pills">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <a href="{% url logout %}">Logout</a>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a data-toggle="modal" class="btn btn-inverse" href="#loginModal">Log in</a>
                        <a data-toggle="modal" class="btn btn-primary" href="#signupModal" href="#">Sign up</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container-fluid">    
        <div id="columns" class="row-fluid">
                <div class="span2">
                    <div class="well sidebar-nav">
                        <div id="sidebar">
                        </div>
                    </div>
                </div>
                <script type="text/javascript">                
                    APP_GLOBAL.USER = '{{ user.id }}'
                </script>
                <div id="column2" class="span10 column-joined">
                    <div class="well">
                        
                        <div id="app" class="row-fluid">

                        </div>
                    </div>

                </div>
        </div>
        <footer>
        </footer>
         <div id="projectModal" class="modal hide fade">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Add a project</h3>
            </div>
            <div class="modal-body">
                <label for="projectTitle">Title</label>
                <input id="projectTitle" class="span3" type="text" placeholder="Project name..." />

                <label for="projectDescription">Description</label>
                <textarea id="projectDescription" placeholder="Some words about the project..." ></textarea>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <button class="btn btn-primary projectInput" data-dismiss="modal">Add</button>
            </div>
        </div>

        <!--Google analytics-->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36911106-1']);
          _gaq.push(['_setDomainName', 'herokuapp.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>-->
        <script src="{{ STATIC_URL }}js/libs/Backbone.js"></script>
        <script src="{{ STATIC_URL }}js/libs/backbone-relational.js"></script>
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.7.0/backbone-relational.min.js"></script>-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js"></script>
        <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/ICanHaz.min.js"></script>
        
        {% compressed_js 'scripts_c' %}

        <script src="{{ STATIC_URL }}js/libs/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/dropbox-chooser.js" id="dropboxjs" data-app-key="233d5or20pa4d0u"></script>
        <script type="text/javascript">
            (function () {
                jQuery.ajaxSetup({
                    beforeSend: function () {
                        $("#loaderDiv").show()
                    },
                    complete: function() {
                        $("#loaderDiv").hide()
                    },
                    success: function () {}
                    });            
            }) ();
        </script>
    </div>
    {% else %}
        <div class="container">
            <div class="hero-unit">
                <h1>You are not logged</h1>
                <p>Click on the right side to log in.</p>
            </div>
            <div id="loginModal" class="modal hide fade">
                {% load url from future %}            
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3>Login</h3>
                </div>
                <form method="post" id="loginForm" action="{% url 'django.contrib.auth.views.login' %}">
                <div id="loginModalBody" class="modal-body">

                </div>
                </form>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>                
                    <button class="btn btn-primary" value="Login" onclick="$('#loginForm').submit()">Log in</button>
                </div>            
            </div>
            <div id="signupModal" class="modal hide fade">
                {% load url from future %}            
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h3>Sign up</h3>
                    </div>

                    <div id="signupModalBody" class="modal-body">
                        <form method="post" id="signupForm" action="{% url 'signup' %}">
                            {% csrf_token %}
                            <label>Username:</label>
                            <input type="text" name="username">
                            <label>Email:</label>
                            <input type="text" name="usermail">
                            <label>Password:</label>
                            <input type="password" name="usepassword">
                            <label>Type again the password:</label>
                            <input type="password" name="userpassword">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <button class="btn btn-primary" value="Login" onclick="$('#signupForm').submit()">Create account</button>
                    </div>            
            </div>
        </div>
        <script type="text/javascript">
            (function () {
                $('#loginModalBody').load('/login/');
            })();
        </script>
    {% endif %}
{% endblock %}