{% extends "base.html" %}
{% block title %}Drawer{% endblock %}
{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Drawer</a>
                <div class="pull-right">
                    <ul class="nav secondary-nav session-dropdown" id="session">
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <small>¿Have an account?</small> Sign in<span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                                <div class="well">
                                    <form action="{% url login %}" method="post">
                                        <fieldset class="textbox">
                                            {% csrf_token %}
                                            <label class="username js-username">
                                                <span>Username</span>
                                                 <input id="id_username" type="text" name="username" maxlength="30">
                                            </label>
                                            <label class="password js-password">
                                                <span>Password</span>
                                                <input type="password" name="password" id="id_password">
                                            </label>
                                            <button type="submit" class="btn submit">Sign in</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div class="row-fluid">
        <div id="myCarousel" class="carousel slide span7 offset2">
          <div class="carousel-inner">
            <div class="item active">
              <img src="{{ STATIC_URL }}img/overview.jpg" alt="">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Simple content organizer!</h1>
                  <p class="lead">A simple way of organizing and sharing your projects or hobbies</p>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{ STATIC_URL }}img/conversation.jpg" alt="">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Talk</h1>
                  <p class="lead">Share links or simple your thought with your friends or coworkers</p>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div><!-- /.carousel -->
        <div class="span2 well">
            <h3>Sign up!</h3>
            <form method="post" id="signupForm" action="/signup">
                {% csrf_token %}
                <div class="control-group                                                 
                    {% if error == 'username' %} 
                      error
                    {% endif %} 
                    ">
                  <label class="control-label" for="input-username">
                    Username
                  </label>
                  <div class="controls">
                    <input type="text" id="input-username" name="username">
                    {% if error == 'username' %}
                      <br />
                      <span class="help-inline">That username is taken!</span>
                    {% endif %}
                  </div>
                </div>
                <div class="control-group                                                 
                    {% if error == 'usermail' %} 
                      error
                    {% endif %} 
                    ">
                  <label class="control-label" for="input-usermail">
                    Email
                  </label>
                  <div class="controls">
                    <input type="text" id="input-usermail" name="usermail">
                    {% if error == 'usermail' %}
                      <br />
                      <span class="help-inline">That email is taken!</span>
                    {% endif %}
                  </div>
                </div>
                <label>Password:</label>
                <input type="password" name="userpassword">
                <br />
                <button type="submit" class="btn btn-large btn-primary" value="Login">Create</button>
            </form>            
        </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->



    <script type="text/javascript">
        (function () {
            $('#loginModalBody').load('/login/');
        })();
    </script>

{% endblock %}