<h2>
    <a class="home" href="/">Project</a>
</h2>
<p>Title: {{ title }}</p>
<p>Description: {{ descrption }}</p>
<div>
    <div id="input">
    <input id="title" type="text" placeholder="Add a new task:"></input>    
    <button class="btn taskInput">Add</button>    
</div>
<div id="task-list">
</div>