<h2>
    <a class="home" href="/">Project</a>
</h2>
<p><strong>Title:</strong> {{ title }}</p>
<p><strong>Description:</strong> {{ description }}</p>
<div id="task-input">
    
</div>
<div id="task-list">
</div>