<ul id="projects" class="nav nav-list">
    <li id="projectsHeader" class="nav-header"><i class="icon-book"></i> Projects</li>
    <li id="addProject"><a data-toggle="modal" href="#projectModal"><i class="icon-plus"></i>Add a project</a></li>
</ul>

<div id="projectModal" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a project</h3>
    </div>
    <div class="modal-body">
        <p>Body body body</p>
        <p>Click click click</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Add</a>
    </div>
</div>