<div class="well task-item">
	<div class="task-check">
		<input type="checkbox">
	</div>
	<div class="task-meta">
        <i class="icon-trash" style="float: right"></i>
    </div>
	<div class="task-content">
		<a href="#">{{ title }}</a>
	</div>	
</div>