<div class="well" style="height: 28px; width:50%">
	<div class="task-check" style="width:10%; float:left">
		<input type="checkbox">
	</div>
	<div class="task-content" style="width:80%">
		<a href="#">{{ title }}</a>
	</div>
	<div class="task-meta" style="width:10%; float:right">
        <i class="icon-trash" style="float: right"></i>
    </div>
</div>