<div class="row-fluid status-meta" style="border-top: 1px solid #ddd;padding-top: 5px;margin-top: 5px;">
	<span class="pull-left"><a href="#" rel="tooltip" title="Show comments" class="toggle-comments"><i class="icon-comment"></i><span class="badge">{{ num_comments }}</span></a></span>
	<span class="pull-right"><a href="#" rel="tooltip" title="Attach a note"><i class="icon-file"></i></a></span>						
</div>