<div class="row-fluid">
	<div class="status-container span6">
		<div class="well status-box">
			<p class="pull-left"><strong>{{ owner_name }}</strong></p>			
			<button class="close pull-right delete-status">&times;</button>
			<div class="media row-fluid">
				<div class="span11">
						<p>{{ text }}</p>
				</div>
			</div>
			{{> statusMeta }}
		</div>			
		<div class="comments-container" id="comments-container-{{ id }}" >
			<ul id="status-comments-list-{{ id }}" class="status-comments-list" style="list-style-type: none;">			
			</ul>			
			<div class="status-comment-input" />
		</div>
	</div>
	<div id="tool-list" class="tool-list pull-right span6" />
</div>