<div class="tool-context">
	<div class="media-box">
		<div class="context-tasks-tools">
			<div class="context-task-input" />
			<div class="context-tasks" />
		</div>
		<div class="context-notes-tools">
			<div class="context-notes-input" />
			<ul id="note-list" class="nav nav-tabs nav-stacked context-notes">
			</ul>
		</div>
	</div>
</div>