<div class="row-fluid">
	<div class="status-container span6">
		<div class="media-box status-box">
			<p><strong>{{ owner_name }}</strong>: {{& parsed_text }}</p>
			<div class="media row-fluid">
				<div class="link-content span11">
					<div class="span5">
					  <a class="pull-left preview" href="#">
					    <img class="media-object img-polaroid" src="{{ thumbnail_url }}" alt="{{ title }}">
					  </a>
					</div>
					<div class="media-body span7">
				    	<h4 class="media-heading">{{ title }}</h4>
				    	<p>{{ description }}</p>			
					</div>
				</div>
			  	<div class="status-meta span1">
					<ul style="list-style:none;" class="status-meta-list">						
						<li><a href="#" rel="tooltip" title="Attach a note"><i class="icon-file"></i></a></li>						
						<li><a href="#" rel="tooltip" title="Show comments"><i class="icon-comment"></i></a></li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="comments-container" id="comments-container-{{ id }}">
			<ul id="status-comments-list-{{ id }}" class="status-comments-list" style="list-style-type: none;">			
			</ul>
		</div>
	</div>
	<div id="tool-list" class="tool-list pull-right span6" />
</div>