<div class="row-fluid">
	<div class="status-container span6">
		<div class="well status-box">
			<p><strong>{{ owner_name }}</strong>: {{& parsed_text }}</p>
			<div class="media row-fluid">
				<div class="link-content span11">
					{{& code}}
				</div>
			  	{{> statusMeta }}
			</div>
		</div>	
		<div class="comments-container" id="comments-container-{{ id }}">
			<ul id="status-comments-list-{{ id }}" class="status-comments-list" style="list-style-type: none;">			
			</ul>
			<div class="status-comment-input" />
		</div>
	</div>
	<div id="tool-list" class="tool-list pull-right span6" />
</div>