<div class="row-fluid">
	<div class="status-container span6">
		<div class="well status-box">
			<p style="overflow: hidden; text-overflow: ellipsis"><strong>{{ owner_name }}</strong>: {{& parsed_text }}</p>
			<div class="media row-fluid">
				{{# thumbnail_url }}
					<div class="link-content span11">
						<div class="span5 thumb">
							<div class="">
						  		<a class="pull-left preview" href="#" class="mask">
						    	<img class="media-object img-polaroid" src="{{ thumbnail_url }}" alt="{{ title }}">
							</div>
						  </a>
						</div>
						<div class="media-body span7">
					    	<h4 class="media-heading">{{ title }}</h4>
					    	<p>{{ description }}</p>			
						</div>
					</div>
				{{/ thumbnail_url }}
				{{^ thumbnail_url }}
					<div class="link-content span11">
						<div class="media-body span12">
					    	<h4 class="media-heading">{{ title }}</h4>
					    	<p>{{ description }}</p>			
						</div>
					</div>
				{{/ thumbnail_url }}
			</div>
			{{> statusMeta }}
		</div>	
		<div class="comments-container" id="comments-container-{{ id }}" >
			<ul id="status-comments-list-{{ id }}" class="status-comments-list" style="list-style-type: none;">			
			</ul>			
			<div class="status-comment-input" />
		</div>
	</div>
	<div id="tool-list" class="tool-list pull-right span6" />
</div>