<div class="link-content">
	<div class="pull-left span6">
		{{& html }}
	</div>
	<div class="content pull-left span5" style="height: 164px;overflow-y: hidden;text-overflow: ellipsis;">
		<h6>{{ title }}</h6>
		<div style="overflow: hidden">
			{{ description }}
		</div>
	</div>
</div>