<div class="item overview-story col3">
	<div class="status-box">
		<div class="media row-fluid">
			<div class="span12">
				<div class="link-content span11">
					<div class="pull-left">
						{{& html }}
					</div>
				</div>

				{{# comments }}
					<small>{{ owner_name }} -</small><p><em>{{ text }}</em></p>							
				{{/ comments}}
			</div>
		</div>		
	</div>
</div>