<div class="item overview-story col1 project-box">
	<div class="status-box">
		<div class="media row-fluid mask">
			<div class="span12">
				<blockquote>
				  <p><em>{{ text }}</em></p>
				  <small>{{ owner_name }}</small>
				</blockquote> 

				{{# comments }}
					<small>{{ owner_name }} -</small><p><em>{{ text }}</em></p>							
				{{/ comments}}
			</div>
		</div>		
	</div>
</div>