<div class="tool-context">
	<div class="media-box">
		<div class="context-notes-tools">
			<div clas="row-fluid context-notes-input" style="margin-bottom: 20px">
				<button class="btn btn-primary add-note-context" type="button"><i class="icon-plus"></i> Create Note</button>
			</div>
			<div class="note-context-input" />
			<div class="accordion context-notes" id="note-accordion">
			</div>
		</div>
		<div class="context-tasks-tools">
			<div class="context-task-input" />
			<div class="context-tasks" />
		</div>		
	</div>
</div>