<div class="well status-item">
	<p class="status-content">
		<blockquote>
			<p>{{ text }}</p>
			<small><cite title="bla"><a href="#">{{ owner_name }}</a></cite></small>
		</blockquote>
	</p>
	<div class="status-meta">
		<i class="icon-comment"></i>
	</div>		
</div>	