<div class="item overview-story col1">
	<div class="status-box">
		<div class="media row-fluid">
			<div class="span12">
				<img src={{ thumb_url }} alt="{{ file_name }}">
			</div>
		</div>		
	</div>
</div>