<td><i class="icon-file icon-large"></i></td>
<td><a href="/get-dropbox-share/?path={{ path }}" target="_blank"><i class="icon-large icon-cloud-download"></i></a></td>
<td><a href="/get-dropbox-file/?path={{ path }}">{{ file_name }}</a></td>
<td> {{ mime_type }}</td>
<td>{{ size }}</td>
<td>{{ localetime }}</td>
<td><a href="#"><i class="icon-trash delete-file"></i></a></td>