<div class="item overview-story col1 projects-box">
	<div class="status-box">
		<div class="media row-fluid mask">
			<div class="span12">
				<a href="/get-dropbox-file/?path={{ path }}" class="fancybox" rel="gallery"><img src={{ thumb_url }} alt="{{ file_name }}"></a>
			</div>
		</div>		
	</div>
</div>