<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#note-accordion" href="#data-note-{{ id }}">
        <div class="note-content" style="overflow:hidden; text-overflow: ellipsis; white-space:nowrap; word-wrap: break-word; max-width:1000px">
			<div class="row-fluid">
				<div class="span10 note-snipett">
					<strong>{{ title }}</strong><br />{{ snipett }}
				</div>
				<div class="span2 pull-right evernote-thumbnail">
					<img src="/get-evernote-thumbnail/?evernote-guid={{ evernote_guid }}" alt="bla" width="75px" height="75px">
				</div>	
			</div>
		</div>
    </a>
</div>
<div id="data-note-{{ id }}" class="accordion-body collapse">
	<div class="accordion-inner">
		<div class="editor-context" />		
	</div>
</div>
