<div class="note-item thumbnail">
	<div class="caption">
		<p>{{ snipett }}</p>		
	</div>
	<div class="note-actions">
		<p><a href="#" id="delete-note" class="btn btn-primary">Delete</a></p>
	</div>
</div>
<div class="noteModalContainer">

</div>