<div class="item overview-story col2">
	<div class="status-box">
		<div class="media row-fluid">
			<div class="span12">
				<p><strong>{{ title }}</em></strong>
				<p>{{& content }}</cite></p>
			</div>
		</div>		
	</div>
</div>