<div id="note-editor-content" class="well" >
	<div class="row-fluid">
		<div class="well small span10">
			<div class="span10 pull-left title-note"><h3>{{ title }}</h3></div>
		</div>
		<div class="btn-toolbar pull-right span2">
				<div class="btn-group">
					<a class="btn edit-link" href="#"><i class="icon-pencil edit-note"></i></a>
					<a class="btn" href="#"><i class="icon-trash delete-note"></i></a>
				</div>
			</div>
	</div>
	<div class="well content-note" style="">{{& content}}</div>
</div>