<p>Tasks</p>
    <div>
        {{# Object }}
        <div class="well" style="width: 50%; height: 28px">
            <a href="#"><label class="checkbox"><input type="checkbox">{{ title }}</label></a><i class="icon-trash" style="float: right"></i>
        </div>
        {{/ Object }}
    </div>
</div>