<div id="columns" class="row-fluid">
	<div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li id="activity" class="{{ activity-active }} activity"><a href="#"><i class="icon-fire"></i>Activity</a></li>   
    		<li id="tasks" class="{{ task-active }} task"><a href="#"><i class="icon-tasks"></i>Tasks</a></li>
    		<li id="notes" class="{{ note-active }} note"><a href="#"><i class="icon-file"></i>Notes</a></li>
    		<li id="files" class="{{ file-active }} file"><a href="#"><i class="icon-hdd"></i>Files</a></li>            
            <li id="people" class="{{ people-active }} people"><a href="#"><i class="icon-group"></i>People</a></li>
        </ul>
    </div>
    <div id="content">
	</div>
</div>