<ul id="projects" class="nav nav-list">
    <li id="projectsHeader" class="nav-header"><i class="icon-book"></i> Projects</li>
    <li id="addProject"><a data-toggle="modal" href="#projectModal"><i class="icon-plus"></i>Add a project</a></li>
    <li id="userSettings"><a href="/user-settings/"><i class="icon-cog"></i>User settings</a></li>
</ul>