<div id="sendInvitation">
	<h23>Share the project with a friend</h3>
	<input id="email-receiver" type="text" placeholder="friend@app.com" />
	<button class="btn btn-primary noteInput" style="margin-bottom: 9px">Send</button>
<div>