.task-item {
	width: 50%;
	height: 20px;
	.task-content {
		width: 80%;
		margin-right: 30px;	
	}
	.task-check {
		width: 5%;
		float: left;
	}
	.task-meta {
		width: 15%;
		float: right;
		&:hover{
			cursor: pointer;
		}
	}
}

